<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.LabSystemBackend.dao.AppointmentDao">


    <select id="getUserAppointments" resultType="com.example.LabSystemBackend.entity.Appointment">
        select *
        from appointment
        where userId = #{userId}
    </select>


    <select id="getAllAppointments" resultType="com.example.LabSystemBackend.entity.Appointment">
        select *
        from appointment

    </select>

    <select id="getAppointment" resultType="com.example.LabSystemBackend.entity.Appointment">
        select *
        from appointment
        where appointmentId = #{appointmentId}

    </select>
    <delete id="deleteAppointmentById">
        delete
        from appointment
        where appointmentId = #{appointmentId}
    </delete>
    <delete id="deleteAppointmentByTimeSlotId">
        delete
        from appointment
        where timeSlotId = #{timeSlotId}
    </delete>

    <insert id="addAppointment" parameterType="com.example.LabSystemBackend.entity.Appointment"
            useGeneratedKeys="true" keyProperty="appointmentId">
        insert into appointment(userId, timeSlotId)
        values (#{appointment.userId}, #{appointment.timeSlotId})

    </insert>
</mapper>