<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.LabSystemBackend.dao.NotificationDao">

    <insert id="insertNotification" parameterType="com.example.LabSystemBackend.entity.Notification"
            useGeneratedKeys="true" keyProperty="notificationId">
        insert into noti (senderId, recipientId, content)
        values (#{noti.senderId}, #{noti.recipientId}, #{noti.content})
    </insert>

    <select id="getAllNotification" resultType="com.example.LabSystemBackend.entity.Notification">
        select *
        from noti
    </select>

    <select id="getUserAllNotification" resultType="com.example.LabSystemBackend.entity.Notification">
        select *
        from noti
        where recipientId = #{recipientId}
    </select>
    <select id="getLastNotification" resultType="com.example.LabSystemBackend.entity.Notification">
        select *
        from noti
        order by notiId desc
        limit 1
    </select>
</mapper>