<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.LabSystemBackend.dao.OrderDao">
    <select id="getUserOrders" resultType="com.example.LabSystemBackend.entity.Order">
        select *
        from orders
        where userId = #{userId}
    </select>

    <select id="getUserActiveOrders" resultType="com.example.LabSystemBackend.entity.Order">
        select *
        from orders
        where userId = #{userId}
        and (orderStatus = 'PENDING' or orderStatus = 'APPROVED')
    </select>

    <delete id="deleteOrder">
        delete
        from orders
        where orderId = #{orderId}
    </delete>

    <insert id="insertOrder" parameterType="com.example.LabSystemBackend.entity.Order"
            useGeneratedKeys="true" keyProperty="orderId">
        insert into orders(userId, itemId, amount, orderStatus)
        values (#{order.userId}, #{order.itemId}, #{order.amount}, #{order.orderStatus})
    </insert>
    <select id="getAllActiveOrders" resultType="com.example.LabSystemBackend.entity.Order">
        select *
        from orders
        where orderStatus = 'PENDING' or orderStatus = 'APPROVED'
    </select>

    <update id="changeOrderStatus">
        update orders
        set orderStatus = #{orderStatus}
        where orderId = #{orderId}
    </update>
    <select id="getLastOrder" resultType="com.example.LabSystemBackend.entity.Order">
        select * from orders order by orderId desc limit 1
    </select>

    <select id="getOrder" resultType="com.example.LabSystemBackend.entity.Order">
        select * from orders where orderId = #{orderId}
    </select>
</mapper>